src/.vs/
src/Limbo.Integrations.BorgerDk/bin/
src/Limbo.Integrations.BorgerDk/obj/
src/NetCoreConsoleApp/bin/
src/NetCoreConsoleApp/obj/
src/NetFrameworkConsoleApp/bin/
src/NetFrameworkConsoleApp/obj/
