src/.vs/
src/Limbo.Integrations.BorgerDk/bin/
src/Limbo.Integrations.BorgerDk/obj/
src/NetFrameworkTestProject/bin/
src/NetFrameworkTestProject/obj/
src/NetTestProject/bin/
src/NetTestProject/obj/
src/packages/
